* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Inter', sans-serif;
}

.mainContainer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.4fr 2fr 4fr 2fr;
  grid-template-areas: "sidebarContainer messageContainer chatContainer rightSidebarContainer";
  background-color: black;
  /* overflow: hidden; */
}

.sidebarContainer {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-area: sidebarContainer;
  border-right: 2px solid #cfd5db;
}

.navFirstContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.navItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.navitemSettingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  margin-bottom: 10px;
}

svg {
  font-size: 30px;
}

.messagesContainer {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1.2fr 1fr 8fr;
  overflow-y: auto;
  border-right: 2px solid #cfd5db;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #cfd5db;
}

.unreadMessageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.messageHeaderText {
  font-size: 20px;
  font-weight: bolder;
}

.messageCount {
  background-color: #edf2f7;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
}

.searchSection {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchSection input {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  background-color: #f3f3f3;
  color: black;
  border: 1px solid #edf2f7;
}

.messageSection {
  overflow-y: auto;  /* Enables vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scroll */
}

.messageCard {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  cursor: pointer;
  border-radius: 12px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.profileImageContainer {
  width: 100%;
  padding-top: 20px;
}
.profileImage {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 12px;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 0 0 20px;
}

.cardName {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

.cardMessage {
  font-weight: 600;
  font-size: 12px;
  color: #000000;
  opacity: 0.4;
}
.badge {
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
  width: fit-content;
  font-weight: bolder;
  font-size: 12px;
}

.cardBadges .question {
  background-color: #feebc8;
  color: #dd6b20;
}

.cardBadges .help {
  background-color: #c6f6d5;
  color: #38a169;
}

.cardBadges {
  display: flex;
  gap: 5px;
}

.cardTime {
  padding-top: 20px;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  opacity: 0.3;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.selected{
  background-color: rgb(97 94 240 / 6%)
}

.directoryContainer{
  grid-area: rightSidebarContainer;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr .3fr 6fr 4fr;
  grid-template-areas: "directory"
                        "teamheader"
                        "team"
                        "file";
  overflow-y: auto;
}

.directorySection{
  grid-area: directory;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #cfd5db;
}

.directoryHeader h2
{
  font-size: 14px;
  font-weight: bolder;


}

.directoryDropdown{
  background-color: #EFEFFD;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.teamSection{
  grid-area: team;
  overflow-y: auto; /* Ensures content does not overflow */
  border-bottom: 2px solid #cfd5db;
}


.teamHeader{
  grid-area: teamheader;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.teamMember{
  height: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
  gap: 10px;
}

.fileHeader
{
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.teamHeader h2, .fileHeader h2{
  font-size: 14px;
  font-weight: bolder;
}

.teamCount, .fileCount{
  background-color: #edf2f7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filesSection{
  grid-area: file;;
}

.fileCard{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  cursor: pointer;
  border-radius: 12px;
  padding-left: 10px;
  padding-bottom: 10px;

}

.fileTypeContainer{
  display: flex;
  gap: 10px;
  align-items: center;
}

.fileType, .fileSize{
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  opacity: 0.4;
}

.mainMessageContainer{
  grid-area: chatContainer;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  overflow-y: auto;
  border-right: 2px solid #cfd5db;
}

.messageTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #cfd5db;
}

.messageTopLeft
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.chatProfileImage{
  width: 40px;
  height: 40px;
  border-radius: 10%;
  
}

.onlineStatus{
  display: flex;
  gap: 5px;
  align-items: center;
}
.onlineStatusIcon{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2dd36f;
}

.onlineStatusText{
  font-size: 12px;
  font-weight: 600;
  color: #000000;
  opacity: 0.6;
}

.messageTopRight{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  border-radius: 8px;
  min-width: 94px;
  min-height: 44px;
  background-color: rgb(97 94 240 / 10%);
}

.callText{
  font-size: 16px;
  font-weight: bolder;
  color: #615EF0;
}

.messageMiddle{
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

 .messageBottom{
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-areas: "emojiSection sendMessage";
  padding: 20px;
}

.inputFileIcon {
  grid-area: emojiSection;
} 

.sendMessageInput{
  grid-area: sendMessage;
  display: flex;
  justify-content: center;  
  align-items: center;
  padding: 10px;

  

} 

.sendMessageInput form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  border-radius: 12px;
  padding: 10px;
  gap: 10px;
  border: 2px solid #edf2f7;
  border-radius: 12px;
}

/* .inputContainer form{
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  color: black;
  border: none;
  outline: none;
  background-color: white;
} */

.sendMessageInput form textarea{
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  color: black;
  border: none;
  outline: none;
  background-color: white;
  all: unset; /* Resets all inherited and default styles */
  width: 100%; /* Set your preferred width */
  border: none; /* Removes the default border */
  outline: none; /* Removes focus outline */
  resize: none; /* Prevents resizing */
  font-family: inherit; /* Uses the same font as the parent */
  font-size: inherit; /* Uses the same font size as the parent */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.inputFileIcon{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}


.receivedMessageContainer, .sendMessageContainer{
  display: flex;
  gap: 5px;
  height: fit-content;
}

.receivedMessageTextContainer, .sendMessageTextContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.messageProfileImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
}

.receivedMessageText, .sendMessageText{
  background-color: #F1F1F1;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  width: fit-content;
  white-space: pre-line;
  max-width: 450px;
  overflow-x: auto;
  

}

.sendMessageContainer{
  justify-content: flex-end;
  
}
.sendMessageText{
  background-color: #615EF0;
  color: white;
  
}

.sendMessageTextContainer{
  align-items: flex-end;
}